.DS_Store
.ipynb_checkpoints
node_modules
*.pyc
__pycache__
*.swp
.vscode/
cmake_build/
.idea/**
/build/
[Bb]uild/
Pods
Podfile.lock
*.pbxproj
*.xcworkspacedata

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild
